<div class="bg-gradient-to-r from-blue-300 via-emerald-700 to-pink-700 flex flex-col justify-center min-h-screen items-center px-4">

  <h1 class=" mb-10 text-5xl font-bold text-white">
    Bem Vindo ao Cadastro-APP
  </h1>

  <div class="bg-white rounded-2xl shadow-xl p-8 max-w-md w-full">
    <h2 class="text-3xl font-bold text-center text-pink-700 mb-6">Cadastro</h2>

    <form id="cadastroForm" [formGroup]="camposForm" (ngSubmit)="salvar()">
      <div>
        <label for="name" class="block text-gray-700 font-medium mb-1">Nome</label>
        <input id="name" type="name"
        formControlName="name"
        placeholder="Ex. José da Silva" required
        class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-emerald-500">
        <span class="text-xs font-bold text-red-500"
        *ngIf="isCampoInvalido('name')">Campo obrigatório!</span>
    </div>

      <div>
        <label for="email" class="block text-gray-700 font-medium mb-1">Email</label>
        <input id="email" type="email" 
        placeholder="seu.nome@email.com" required
        formControlName="email"
        class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-emerald-500">
        <!--Se esta em branco!-->
        <span class="text-xs font-bold text-red-500"
        *ngIf="isCampoInvalido('email')">Campo obrigatório!</span>
        <!--Se estiver em formato invalido!-->
        <span class="text-xs font-bold text-red-500"
        *ngIf="isCampoInvalido('email', 'email')">Email inválido!</span>         
    </div>
    <div>
        <label for="password" class="block text-gray-700 font-medium mb-1">Senha</label>
        <input id="password" type="password" required
        formControlName="password"
        placeholder="Lança a braba, a forte, a indecifrável!"
        class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-emerald-500">
        <span touch_app class="text-xs font-bold text-red-500"
        *ngIf="isCampoInvalido('password')">Campo obrigatório!</span>
    </div>

      <button type="submit" class="mt-4 w-full bg-emerald-900 text-white font-semibold py-2 rounded-lg hover:bg-emerald-600 transition-colors">
        Criar Conta
        
      </button>
      <p class="text-center mt-2">Já tem uma conta? <a href="/login" class="text-red-800">clique aqui</a></p>
    </form>
  </div>

</div>
